.findHouse {
    .filters,
    .houses {
        display: flex;
        flex-wrap: wrap;
    }

    .houses {
        gap: 30px;
        justify-content: center;
    }

    .filters {
        justify-content: space-evenly;
        align-items: start;
        overflow: hidden;
        padding: 50px 0;
        background-color: rgb(255, 255, 255);
        border-radius: 25px;
        box-shadow: 0px 32px 34px rgba(0, 0, 0, 0.12);

        select {
            color: rgb(0, 0, 0);
            border: none;
            background-color: rgba(255, 255, 255, 0);
            font-weight: 700;
            font-size: 17px;

            &:focus {
                outline: none;
            }
            &:hover {
                color: rgb(70, 181, 255);
            }
        }
    }
}
