@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");

* {
    margin: 0;
    font-family: "DM Sans", sans-serif;
    font-style: normal;
    transition: 0.1s;
}

body {
    background: rgb(245, 245, 245);
}

button {
    cursor: pointer;
    border: none;
}

.hrTitle {
    width: 169px;
    height: 4px;
    left: 0px;
    top: 0px;
    background: linear-gradient(90deg, #ffac12 0%, #000000 94.96%);
    border-radius: 2px;
    margin-bottom: 16px;
}

.title {
    font-weight: 700;
    font-size: 50px;
}
